*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
h1,h2,h3{
    color:brown;
}
header {
    min-width: 100%;
    height: 8vh;
    background:blue;
}
header ul{
    display:flex;

}
    header ul .right {
        min-width:50%;
        display:flex;
        justify-content:flex-end;
    }
    header ul .left {
        min-width: 50%;
        display:flex;
        justify-content:flex-start;
        
        
    }
    header ul li  {
        color: white;
        padding: 30px;
        list-style:none;
    }
    header ul li a{
        color : white;
    }


