@model ContactModel  

<form method="post">
    <p><label asp-for="Name">Name</label>: <input asp-for="Name" type="text" /></p>
    <p><label asp-for="FirstName">FirstName</label>: <input asp-for="FirstName" type="text" /></p>
    <p><label asp-for="Email">Email</label>: <input asp-for="Email" type="email" /></p>
    <p><label asp-for="Password">Password</label>: <input asp-for="Password"type="password" /></p>
    <input type="submit" />
</form>