@{
    ViewBag.Title ="First App with ViewBag"; 

}
<p> hello from our view template</p>
    <div class="main">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <div class="second">
        <ul>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <div class="third">
        <ul>
            <li>7</li>
            <li>8</li>
            <li>9</li>
        </ul>
    </div>
